/*#region GlOBAL VARIABLES */
/*GForm Colors*/
/*Crumb Nav*/
/*Social Icon Colors*/
/*#endregion*/
/*#region GLOBAL STYLES */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333333;
  background-color: #e8e8e8;
  letter-spacing: 1px;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "EB Garamond", serif;
  line-height: 1.5em;
}

img {
  width: 50%;
}

.required-asterisk, .required-text {
  color: #ff6347;
  font-weight: 600;
}

.required-text {
  font-size: .65em;
}

.print {
  display: none;
}

.btn {
  padding: 8px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .035em;
}

.centered-content {
  margin-left: auto;
  margin-right: auto;
}

code {
  font-size: .9em;
  color: #ff6347;
}

a {
  color: #8b4513;
  font-weight: 600;
}

a:hover {
  text-decoration: none;
  opacity: .7;
  color: #8b4513;
}

.no-go {
  cursor: not-allowed;
}

/*#endregion*/
/* #region HEADER */
header {
  min-height: 250px;
  text-align: center;
  background-color: #071b34;
  color: #e6e6e6;
  position: relative;
}

header .header-content {
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header-logo-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
  bottom: 0;
  right: 1em;
  font-size: .7em;
}

.header-logo-container a {
  color: #f5deb3;
}

.header-logo-container .logo-img {
  width: 20%;
}

/* #endregion */
/* #region MAIN */
.project-open, .issue-details, .project-close {
  padding: 28px 0 36px;
}

/* #region ABOUT*/
.project-img {
  width: 100%;
}

.spec-container {
  margin-left: 1em;
  margin-bottom: 1em;
}

.spec-detail {
  padding-left: .5em;
}

.spec-detail p {
  margin-bottom: 0;
}

.project-palette {
  width: 65%;
}

/* #endregion */
/* #region ISSUE DETAILS */
.issue-details {
  background-color: #ffffff;
}

.issue-details .card {
  background-color: transparent;
}

.compare img {
  -webkit-box-shadow: -2px 2px 8px;
          box-shadow: -2px 2px 8px;
}

.issue-content {
  padding-left: 1em;
  padding-right: 3em;
}

.issue-img {
  width: 100%;
}

.cybervision-imgs2 .issue-imgs, .allenspie-imgs2 .issue-imgs,
.allenspie-imgs3 .issue-imgs, .perryassociates-imgs1 .issue-imgs,
.perryassociates-imgs3 .issue-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cybervision-imgs2 .issue-imgs .compare, .allenspie-imgs2 .issue-imgs .compare,
.allenspie-imgs3 .issue-imgs .compare, .perryassociates-imgs1 .issue-imgs .compare,
.perryassociates-imgs3 .issue-imgs .compare {
  width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/* #region Cybervision */
.issue-imgs .compare:last-child .cybervision-issue3-img {
  width: 25%;
  margin-left: 75%;
}

/* #endregion */
/* #region Allen's Pie */
.allenspie-live1, .allenspie-org1 {
  background-position: top;
}

.allenspie-org1 {
  background-image: url("https://snz04pap002files.storage.live.com/y4mfTVUD67dwZfXwzkZdkiFhpJJlX7vNFspgChvoMHtx_0duJtJi0_GcTI_GwsQ7WQPzaVjIZLS0jGsqy6PXe5yREkjHBGmz6DXgOrzZu9ibuQ0slK8fy99phhQOXdu4JTx2U7NRJaZCrHd60cphaZ-jQNSLaqyEjhqQjYOtvHKX3ILLXpdi6AdXzGbjTcc_SC-?width=660&height=403&cropmode=none");
}

.allenspie-live1 {
  background-image: url("https://snz04pap002files.storage.live.com/y4mjTh-14fI7-k2hIurVFr_Cw2eMwoeqfjZFmCJDtmsCLPUq6YICgSnIS2KSoPmHPVFzmtmTXD9IGvWO0pw7nU1wQRNshNhcMXx1rMuInkuoWLIhEwmcSqgnPj8JRbMJ2mBnnzK2WCLA6BKebXk3fqw8uUM0eP2uh6uR4LKBwOwsCbPhEStACjDE9e4ryEQzeDw?width=660&height=408&cropmode=none");
}

.allenspie-live2, .allenspie-org2 {
  background-position: center;
}

.allenspie-org2 {
  background-image: url("https://snz04pap002files.storage.live.com/y4mfTVUD67dwZfXwzkZdkiFhpJJlX7vNFspgChvoMHtx_0duJtJi0_GcTI_GwsQ7WQPzaVjIZLS0jGsqy6PXe5yREkjHBGmz6DXgOrzZu9ibuQ0slK8fy99phhQOXdu4JTx2U7NRJaZCrHd60cphaZ-jQNSLaqyEjhqQjYOtvHKX3ILLXpdi6AdXzGbjTcc_SC-?width=660&height=403&cropmode=none");
}

.allenspie-live2 {
  background-image: url("https://snz04pap002files.storage.live.com/y4mjTh-14fI7-k2hIurVFr_Cw2eMwoeqfjZFmCJDtmsCLPUq6YICgSnIS2KSoPmHPVFzmtmTXD9IGvWO0pw7nU1wQRNshNhcMXx1rMuInkuoWLIhEwmcSqgnPj8JRbMJ2mBnnzK2WCLA6BKebXk3fqw8uUM0eP2uh6uR4LKBwOwsCbPhEStACjDE9e4ryEQzeDw?width=660&height=408&cropmode=none");
}

.allenspie-live3, .allenspie-org3 {
  background-position: bottom;
}

.allenspie-org3 {
  background-image: url("https://snz04pap002files.storage.live.com/y4mfTVUD67dwZfXwzkZdkiFhpJJlX7vNFspgChvoMHtx_0duJtJi0_GcTI_GwsQ7WQPzaVjIZLS0jGsqy6PXe5yREkjHBGmz6DXgOrzZu9ibuQ0slK8fy99phhQOXdu4JTx2U7NRJaZCrHd60cphaZ-jQNSLaqyEjhqQjYOtvHKX3ILLXpdi6AdXzGbjTcc_SC-?width=660&height=403&cropmode=none");
}

.allenspie-live3 {
  background-image: url("https://snz04pap002files.storage.live.com/y4mjTh-14fI7-k2hIurVFr_Cw2eMwoeqfjZFmCJDtmsCLPUq6YICgSnIS2KSoPmHPVFzmtmTXD9IGvWO0pw7nU1wQRNshNhcMXx1rMuInkuoWLIhEwmcSqgnPj8JRbMJ2mBnnzK2WCLA6BKebXk3fqw8uUM0eP2uh6uR4LKBwOwsCbPhEStACjDE9e4ryEQzeDw?width=660&height=408&cropmode=none");
}

/* #endregion */
/* #region Perry Associates */
.perryassociates-live1, .perryassociates-org1 {
  background-position: top;
}

.perryassociates-org1 {
  background-image: url("https://snz04pap002files.storage.live.com/y4mHhLK5yvkOeP2tZN-pDHKDdkcf0QV0Xui1z1BPNviHJEUONrodwbt84zEAgecwVWZfrxoyGbQKGy_My-uqle7rOy1t_IaN8T39sMoioIXCZ5xIb7EkwGcjl2NEyhkpv1RlCAIfHMck2_Z_A-eyh3Pq9Z4JPUfdARWuJ_ViCc_ec4oW7HHi1Hvbp24s51boax_?width=379&height=660&cropmode=none");
}

.perryassociates-live1 {
  background-image: url("https://snz04pap002files.storage.live.com/y4mc6Dd3bd1zZpx1lHGWC-SwEWaZMmp2Z-0SpuR88eai-ZSLAjRN-t8iMZZDqa3STjcG5x-_DNKMTnH4PK64xqCVpXOOH7LZbwmvU6agw84z8Js5NAplyYemLQ1L6-kGtNS5NT8zbtnIHrYFOgMRkcKm97_1jnHTk4_eO658moN6stpwA97B9olw67iDcz4sapL?width=350&height=660&cropmode=none");
}

.perryassociates-live2, .perryassociates-org2 {
  background-position: center;
}

.perryassociates-org2 {
  background-image: url("https://snz04pap002files.storage.live.com/y4mHhLK5yvkOeP2tZN-pDHKDdkcf0QV0Xui1z1BPNviHJEUONrodwbt84zEAgecwVWZfrxoyGbQKGy_My-uqle7rOy1t_IaN8T39sMoioIXCZ5xIb7EkwGcjl2NEyhkpv1RlCAIfHMck2_Z_A-eyh3Pq9Z4JPUfdARWuJ_ViCc_ec4oW7HHi1Hvbp24s51boax_?width=379&height=660&cropmode=none");
}

.perryassociates-live2 {
  background-image: url("https://snz04pap002files.storage.live.com/y4mc6Dd3bd1zZpx1lHGWC-SwEWaZMmp2Z-0SpuR88eai-ZSLAjRN-t8iMZZDqa3STjcG5x-_DNKMTnH4PK64xqCVpXOOH7LZbwmvU6agw84z8Js5NAplyYemLQ1L6-kGtNS5NT8zbtnIHrYFOgMRkcKm97_1jnHTk4_eO658moN6stpwA97B9olw67iDcz4sapL?width=350&height=660&cropmode=none");
}

.perryassociates-live3, .perryassociates-org3 {
  background-position: bottom;
}

.perryassociates-org3 {
  background-image: url("https://snz04pap002files.storage.live.com/y4mHhLK5yvkOeP2tZN-pDHKDdkcf0QV0Xui1z1BPNviHJEUONrodwbt84zEAgecwVWZfrxoyGbQKGy_My-uqle7rOy1t_IaN8T39sMoioIXCZ5xIb7EkwGcjl2NEyhkpv1RlCAIfHMck2_Z_A-eyh3Pq9Z4JPUfdARWuJ_ViCc_ec4oW7HHi1Hvbp24s51boax_?width=379&height=660&cropmode=none");
}

.perryassociates-live3 {
  background-image: url("https://snz04pap002files.storage.live.com/y4mc6Dd3bd1zZpx1lHGWC-SwEWaZMmp2Z-0SpuR88eai-ZSLAjRN-t8iMZZDqa3STjcG5x-_DNKMTnH4PK64xqCVpXOOH7LZbwmvU6agw84z8Js5NAplyYemLQ1L6-kGtNS5NT8zbtnIHrYFOgMRkcKm97_1jnHTk4_eO658moN6stpwA97B9olw67iDcz4sapL?width=350&height=660&cropmode=none");
}

/* #endregion */
/* #endregion */
/*#region CLOSE */
.more-info p {
  font-size: 12px;
  padding: 0 1.5em;
}

/* #endregion */
/* #endregion */
/* #region SOCIAL ICONS */
.aew-social-link .fa-react {
  background-color: #00d8ff;
}

.aew-social-link .fa-linkedin-in {
  background-color: #0077B5;
}

.aew-social-link .fa-twitter {
  background-color: #1da1f2;
}

.aew-social-link .fa-slideshare {
  background-color: #0077B5;
}

.aew-social-link .fa-free-code-camp {
  background-color: darkgreen;
}

.aew-social-link .fa-youtube {
  background-color: #CD201F;
}

.aew-social-link .fa-github {
  background-color: #24292e;
}

.aew-social-link .fa-behance-square {
  background-color: #0057FF;
}

/* #endregion */
/* #region FOOTER */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333333;
  color: #b8b8b8;
  padding: 8px;
}

footer a {
  text-decoration: none;
  color: #e6e6e6;
}

footer a:hover {
  text-decoration: underline;
  font-weight: 600;
  color: #f5deb3;
}

footer .logo-container {
  width: 15%;
  font-size: .7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .logo-container a {
  color: #f5deb3;
}

footer .logo-container .logo-img {
  width: 20%;
}

footer .social-links-container {
  width: auto;
  text-align: center;
}

footer .footer-text {
  width: auto;
  text-align: right;
  margin-bottom: 0;
  font-size: .7em;
}

/* #endregion */
@media print {
  .print, #aedubyah-print-footer.print {
    display: block;
  }
  .no-print, .aedubyah-global-footer.no-print {
    display: none;
  }
}
/*# sourceMappingURL=App.css.map */