/*#region GlOBAL VARIABLES */
/*GForm Colors*/
/*Crumb Nav*/
/*Social Icon Colors*/
/*#endregion*/
/*#region GLOBAL STYLES */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  background-color: #e8e8e8;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333333;
  background-color: transparent;
  letter-spacing: 1px;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "EB Garamond", serif;
  line-height: 1.5em;
}

img {
  width: 50%;
}

.required-asterisk, .required-text {
  color: #ff6347;
  font-weight: 600;
}

.required-text {
  font-size: .65em;
}

.print {
  display: none;
}

.btn {
  padding: 8px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .035em;
}

.centered-content {
  margin-left: auto;
  margin-right: auto;
}

code {
  font-size: .9em;
  color: #ff6347;
}

.no-go {
  cursor: not-allowed;
}

/*#endregion*/
/* #region HEADER */
header {
  min-height: 250px;
  text-align: center;
  background-color: #071b34;
  color: #e6e6e6;
  position: relative;
}

header .header-content {
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header-logo-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
  bottom: 0;
  right: 1em;
  font-size: .7em;
}

.header-logo-container a {
  color: #f5deb3;
}

.header-logo-container .logo-img {
  width: 20%;
}

/* #endregion */
/* #region MAIN */
.project-open, .issue-details, .project-close {
  padding: 28px 0 36px;
}

/* #region ABOUT*/
.spec-detail {
  padding-left: .5em;
}

.project-palette {
  width: 50%;
}

/* #endregion */
/* #region ISSUE DETAILS */
.compare {
  min-width: 150px;
  min-height: 150px;
  background-size: cover;
}

/* #region Cybervision */
.cybervision-live1, .cybervision-org1 {
  background-position: top;
}

.cybervision-org1 {
  background-image: url("https://snz04pap002files.storage.live.com/y4m6LNYCDTn0tt1vHSr9lCrF8oB_WlovaAWyg8T3lY-R8MN0SKNRE8Z4CaKw306ZzMkdydvO39cWoprCuMY25uVXkuB4l7qAO9bQZPhSvB3AoB9XbCXlvAXDViB3ggQzVBVWhqnMojE2XY3owkB_h9hAzcIEM2GwhzjEkK9DDyvLxjKU2U9XwX9Mw0Ht7F7u_zh?width=393&height=660&cropmode=none");
}

.cybervision-live1 {
  background-image: url("https://snz04pap002files.storage.live.com/y4m8HkNDSboHBDyHPy1KQpch_JVvL14eUGurk6SB2X27ItVMREE_4OWD7JsMhmYHd-Bk_gy4vhsuD_WjMHhsKPDmtbybYCxXF2xShKhN-n1ibNX0dYTu0lGk1fTlI8quSEvVoXziagJUH0RT74jpV6nSDl76LeMZbWpl7JhvJIgZ69WZTOMJvaMo8lDdNQa5r_u?width=660&height=621&cropmode=none");
}

.cybervision-org2, .cybervision-live2 {
  background-position: center;
}

.cybervision-org2 {
  background-image: url("https://snz04pap002files.storage.live.com/y4m6LNYCDTn0tt1vHSr9lCrF8oB_WlovaAWyg8T3lY-R8MN0SKNRE8Z4CaKw306ZzMkdydvO39cWoprCuMY25uVXkuB4l7qAO9bQZPhSvB3AoB9XbCXlvAXDViB3ggQzVBVWhqnMojE2XY3owkB_h9hAzcIEM2GwhzjEkK9DDyvLxjKU2U9XwX9Mw0Ht7F7u_zh?width=393&height=660&cropmode=none");
}

.cybervision-live2 {
  background-image: url("https://snz04pap002files.storage.live.com/y4m8HkNDSboHBDyHPy1KQpch_JVvL14eUGurk6SB2X27ItVMREE_4OWD7JsMhmYHd-Bk_gy4vhsuD_WjMHhsKPDmtbybYCxXF2xShKhN-n1ibNX0dYTu0lGk1fTlI8quSEvVoXziagJUH0RT74jpV6nSDl76LeMZbWpl7JhvJIgZ69WZTOMJvaMo8lDdNQa5r_u?width=660&height=621&cropmode=none");
}

.cybervision-live3, .cybervision-org3 {
  background-position: bottom;
}

.cybervision-org3 {
  background-image: url("https://snz04pap002files.storage.live.com/y4m6LNYCDTn0tt1vHSr9lCrF8oB_WlovaAWyg8T3lY-R8MN0SKNRE8Z4CaKw306ZzMkdydvO39cWoprCuMY25uVXkuB4l7qAO9bQZPhSvB3AoB9XbCXlvAXDViB3ggQzVBVWhqnMojE2XY3owkB_h9hAzcIEM2GwhzjEkK9DDyvLxjKU2U9XwX9Mw0Ht7F7u_zh?width=393&height=660&cropmode=none");
}

.cybervision-live3 {
  background-image: url("https://snz04pap002files.storage.live.com/y4m8HkNDSboHBDyHPy1KQpch_JVvL14eUGurk6SB2X27ItVMREE_4OWD7JsMhmYHd-Bk_gy4vhsuD_WjMHhsKPDmtbybYCxXF2xShKhN-n1ibNX0dYTu0lGk1fTlI8quSEvVoXziagJUH0RT74jpV6nSDl76LeMZbWpl7JhvJIgZ69WZTOMJvaMo8lDdNQa5r_u?width=660&height=621&cropmode=none");
}

/* #endregion */
/* #region Retrain Back Pain */
.retrainbackpain-live1, .retrainbackpain-org1 {
  background-position: top;
}

.retrainbackpain-org1 {
  background-image: url("https://snz04pap002files.storage.live.com/y4murRa-Mm4RNU8gSfxB4u9mhCO8vPfONBomWvocmhehdawJyIQrJ1q6D353XIjHC7ynm0d1L7CDT5qvQU8G5jLImftKQBDejSRPT7NwwbQSqgyCKzpuadA8kQIS0hu4LwYeNbsI4MqOLDyecWUrhL8XMQl4czo9y4Ppbz88VUUDQNcyncBOxglj9FO2xdnK55h?width=660&height=411&cropmode=none");
}

.retrainbackpain-live1 {
  background-image: url("https://snz04pap002files.storage.live.com/y4mCHOOFQrjcpSJrEc8-lZ95DWmLwLDzbYs4ty6BX3bxSD_5eVpmFUdg2Z6SfSPD8VPNi4_Psl9rFBE5v9V8FB3KH_QnVRaXtk71ZWMu46_ON078LaalA_t929zfBtT1VM_3u0vwXY8dIK0UUwCludTomnoZblUTvii2gJJTm94LYRkOEhcK3Gu4Yl9EQQCUO6H?width=660&height=411&cropmode=none");
}

.retrainbackpain-live2, .retrainbackpain-org2 {
  background-position: center;
}

.retrainbackpain-org2 {
  background-image: url("https://snz04pap002files.storage.live.com/y4murRa-Mm4RNU8gSfxB4u9mhCO8vPfONBomWvocmhehdawJyIQrJ1q6D353XIjHC7ynm0d1L7CDT5qvQU8G5jLImftKQBDejSRPT7NwwbQSqgyCKzpuadA8kQIS0hu4LwYeNbsI4MqOLDyecWUrhL8XMQl4czo9y4Ppbz88VUUDQNcyncBOxglj9FO2xdnK55h?width=660&height=411&cropmode=none");
}

.retrainbackpain-live2 {
  background-image: url("https://snz04pap002files.storage.live.com/y4mCHOOFQrjcpSJrEc8-lZ95DWmLwLDzbYs4ty6BX3bxSD_5eVpmFUdg2Z6SfSPD8VPNi4_Psl9rFBE5v9V8FB3KH_QnVRaXtk71ZWMu46_ON078LaalA_t929zfBtT1VM_3u0vwXY8dIK0UUwCludTomnoZblUTvii2gJJTm94LYRkOEhcK3Gu4Yl9EQQCUO6H?width=660&height=411&cropmode=none");
}

.retrainbackpain-live3, .retrainbackpain-org3 {
  background-position: bottom;
}

.retrainbackpain-org3 {
  background-image: url("https://snz04pap002files.storage.live.com/y4murRa-Mm4RNU8gSfxB4u9mhCO8vPfONBomWvocmhehdawJyIQrJ1q6D353XIjHC7ynm0d1L7CDT5qvQU8G5jLImftKQBDejSRPT7NwwbQSqgyCKzpuadA8kQIS0hu4LwYeNbsI4MqOLDyecWUrhL8XMQl4czo9y4Ppbz88VUUDQNcyncBOxglj9FO2xdnK55h?width=660&height=411&cropmode=none");
}

.retrainbackpain-live3 {
  background-image: url("https://snz04pap002files.storage.live.com/y4mCHOOFQrjcpSJrEc8-lZ95DWmLwLDzbYs4ty6BX3bxSD_5eVpmFUdg2Z6SfSPD8VPNi4_Psl9rFBE5v9V8FB3KH_QnVRaXtk71ZWMu46_ON078LaalA_t929zfBtT1VM_3u0vwXY8dIK0UUwCludTomnoZblUTvii2gJJTm94LYRkOEhcK3Gu4Yl9EQQCUO6H?width=660&height=411&cropmode=none");
}

/* #endregion */
/* #region Perry Associates */
.perryassociates-live1, .perryassociates-org1 {
  background-position: top;
}

.perryassociates-org1 {
  background-image: url("https://snz04pap002files.storage.live.com/y4mHhLK5yvkOeP2tZN-pDHKDdkcf0QV0Xui1z1BPNviHJEUONrodwbt84zEAgecwVWZfrxoyGbQKGy_My-uqle7rOy1t_IaN8T39sMoioIXCZ5xIb7EkwGcjl2NEyhkpv1RlCAIfHMck2_Z_A-eyh3Pq9Z4JPUfdARWuJ_ViCc_ec4oW7HHi1Hvbp24s51boax_?width=379&height=660&cropmode=none");
}

.perryassociates-live1 {
  background-image: url("https://snz04pap002files.storage.live.com/y4mc6Dd3bd1zZpx1lHGWC-SwEWaZMmp2Z-0SpuR88eai-ZSLAjRN-t8iMZZDqa3STjcG5x-_DNKMTnH4PK64xqCVpXOOH7LZbwmvU6agw84z8Js5NAplyYemLQ1L6-kGtNS5NT8zbtnIHrYFOgMRkcKm97_1jnHTk4_eO658moN6stpwA97B9olw67iDcz4sapL?width=350&height=660&cropmode=none");
}

.perryassociates-live2, .perryassociates-org2 {
  background-position: center;
}

.perryassociates-org2 {
  background-image: url("https://snz04pap002files.storage.live.com/y4mHhLK5yvkOeP2tZN-pDHKDdkcf0QV0Xui1z1BPNviHJEUONrodwbt84zEAgecwVWZfrxoyGbQKGy_My-uqle7rOy1t_IaN8T39sMoioIXCZ5xIb7EkwGcjl2NEyhkpv1RlCAIfHMck2_Z_A-eyh3Pq9Z4JPUfdARWuJ_ViCc_ec4oW7HHi1Hvbp24s51boax_?width=379&height=660&cropmode=none");
}

.perryassociates-live2 {
  background-image: url("https://snz04pap002files.storage.live.com/y4mc6Dd3bd1zZpx1lHGWC-SwEWaZMmp2Z-0SpuR88eai-ZSLAjRN-t8iMZZDqa3STjcG5x-_DNKMTnH4PK64xqCVpXOOH7LZbwmvU6agw84z8Js5NAplyYemLQ1L6-kGtNS5NT8zbtnIHrYFOgMRkcKm97_1jnHTk4_eO658moN6stpwA97B9olw67iDcz4sapL?width=350&height=660&cropmode=none");
}

.perryassociates-live3, .perryassociates-org3 {
  background-position: bottom;
}

.perryassociates-org3 {
  background-image: url("https://snz04pap002files.storage.live.com/y4mHhLK5yvkOeP2tZN-pDHKDdkcf0QV0Xui1z1BPNviHJEUONrodwbt84zEAgecwVWZfrxoyGbQKGy_My-uqle7rOy1t_IaN8T39sMoioIXCZ5xIb7EkwGcjl2NEyhkpv1RlCAIfHMck2_Z_A-eyh3Pq9Z4JPUfdARWuJ_ViCc_ec4oW7HHi1Hvbp24s51boax_?width=379&height=660&cropmode=none");
}

.perryassociates-live3 {
  background-image: url("https://snz04pap002files.storage.live.com/y4mc6Dd3bd1zZpx1lHGWC-SwEWaZMmp2Z-0SpuR88eai-ZSLAjRN-t8iMZZDqa3STjcG5x-_DNKMTnH4PK64xqCVpXOOH7LZbwmvU6agw84z8Js5NAplyYemLQ1L6-kGtNS5NT8zbtnIHrYFOgMRkcKm97_1jnHTk4_eO658moN6stpwA97B9olw67iDcz4sapL?width=350&height=660&cropmode=none");
}

/* #endregion */
/* #endregion */
/*#region CLOSE */
/* #endregion */
/* #endregion */
/* #region SOCIAL ICONS */
.aew-social-link .fa-react {
  background-color: #00d8ff;
}

.aew-social-link .fa-linkedin-in {
  background-color: #0077B5;
}

.aew-social-link .fa-twitter {
  background-color: #1da1f2;
}

.aew-social-link .fa-slideshare {
  background-color: #0077B5;
}

.aew-social-link .fa-free-code-camp {
  background-color: darkgreen;
}

.aew-social-link .fa-youtube {
  background-color: #CD201F;
}

.aew-social-link .fa-github {
  background-color: #24292e;
}

.aew-social-link .fa-behance-square {
  background-color: #0057FF;
}

/* #endregion */
/* #region FOOTER */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333333;
  color: #b8b8b8;
  padding: 8px;
}

footer a {
  text-decoration: none;
  color: #e6e6e6;
}

footer a:hover {
  text-decoration: underline;
  font-weight: 600;
  color: #f5deb3;
}

footer .logo-container {
  width: 15%;
  font-size: .7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .logo-container a {
  color: #f5deb3;
}

footer .logo-container .logo-img {
  width: 20%;
}

footer .social-links-container {
  width: auto;
  text-align: center;
}

footer .footer-text {
  width: auto;
  text-align: right;
  margin-bottom: 0;
  font-size: .7em;
}

/* #endregion */
@media print {
  .print, #aedubyah-print-footer.print {
    display: block;
  }
  .no-print, .aedubyah-global-footer.no-print {
    display: none;
  }
}
/*# sourceMappingURL=App.css.map */