/*#region GlOBAL VARIABLES */
$heading-font: 'EB Garamond', serif;
$body-font: 'Roboto', sans-serif;
$accent1-font: 'Open Sans', sans-serif; 
$accent2-font: 'Roboto Slab', serif;

$bg-body: #e8e8e8;
$body-dark: #333333;
$body-medium: #585858;
$body-light: #e6e6e6;
$footer-text: #b8b8b8;
$primary-dark: #071b34;
$accent-light: #f2f2f2;
$accent1: #8b4513;
$accent2: #f5deb3;
$accent3: #9dd0e1;
$standard-text: #000000;
$standard-body: #ffffff;
$link-text: #D2691E;
$page-link: rgba(128, 21, 0, .7);
$link-bright: #c94c4c;
$warning-red: #ff6347;

/*GForm Colors*/
$gf-pale-green: #b1cbbb;
$gf-soft-blue: #deeaee;

/*Crumb Nav*/
$crumb-link: #0275d8;
$crumb-hover: #01447e;
$crumb-visited: #C48F65;
$crumb-active: #801500;

/*Social Icon Colors*/
$react-bg: #00d8ff;
/*#endregion*/



/*#region GLOBAL STYLES */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
	background-color: $bg-body;
}

body {
    font-family: $body-font;
    color: $body-dark;
    background-color: transparent;
    letter-spacing: 1px;
    line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
    line-height: 1.5em;
}

img {
    width: 50%;
}

.required-asterisk, .required-text {
    color: $warning-red;
    font-weight: 600;
}

.required-text {
    font-size: .65em;
}

.print {
    display: none;
}

.btn {
    padding: 8px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .035em;
}

.centered-content {
    margin-left: auto;
    margin-right: auto;
}

code {
    font-size: .9em;
    color: $warning-red;
}

.no-go {
    cursor: not-allowed;
}
/*#endregion*/


/* #region HEADER */
header {
    min-height: 250px;
    text-align: center;
    background-color: $primary-dark;
    color: $body-light;
    position: relative;

    .header-content {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateY(-25%);
        transform: translateX(-50%);
    }
}

.header-logo-container {
    position: absolute;
    display: flex;
    align-items: center;
    width: 15%;
    bottom: 0;
    right: 1em;
    font-size: .7em;

    a {
        color: $accent2;
    }

    .logo-img {
        width: 20%;
    }
}
/* #endregion */

/* #region MAIN */
.project-open, .issue-details, .project-close {
    padding: 28px 0 36px;
}

/* #region ABOUT*/

.spec-detail {
    padding-left: .5em;
}

.project-palette {
    width: 50%;
}
/* #endregion */

/* #region ISSUE DETAILS */
.compare {
    min-width: 150px;
    min-height: 150px;
    background-size: cover;   
}


/* #region Cybervision */
.cybervision-live1, .cybervision-org1 {
    background-position: top;
}
.cybervision-org1 {
    background-image: url('https://snz04pap002files.storage.live.com/y4m6LNYCDTn0tt1vHSr9lCrF8oB_WlovaAWyg8T3lY-R8MN0SKNRE8Z4CaKw306ZzMkdydvO39cWoprCuMY25uVXkuB4l7qAO9bQZPhSvB3AoB9XbCXlvAXDViB3ggQzVBVWhqnMojE2XY3owkB_h9hAzcIEM2GwhzjEkK9DDyvLxjKU2U9XwX9Mw0Ht7F7u_zh?width=393&height=660&cropmode=none');
}

.cybervision-live1 {
    background-image: url('https://snz04pap002files.storage.live.com/y4m8HkNDSboHBDyHPy1KQpch_JVvL14eUGurk6SB2X27ItVMREE_4OWD7JsMhmYHd-Bk_gy4vhsuD_WjMHhsKPDmtbybYCxXF2xShKhN-n1ibNX0dYTu0lGk1fTlI8quSEvVoXziagJUH0RT74jpV6nSDl76LeMZbWpl7JhvJIgZ69WZTOMJvaMo8lDdNQa5r_u?width=660&height=621&cropmode=none');
}

.cybervision-org2, .cybervision-live2 {
    background-position: center;
}

.cybervision-org2 {
    background-image: url('https://snz04pap002files.storage.live.com/y4m6LNYCDTn0tt1vHSr9lCrF8oB_WlovaAWyg8T3lY-R8MN0SKNRE8Z4CaKw306ZzMkdydvO39cWoprCuMY25uVXkuB4l7qAO9bQZPhSvB3AoB9XbCXlvAXDViB3ggQzVBVWhqnMojE2XY3owkB_h9hAzcIEM2GwhzjEkK9DDyvLxjKU2U9XwX9Mw0Ht7F7u_zh?width=393&height=660&cropmode=none');
}

.cybervision-live2 {
    background-image: url('https://snz04pap002files.storage.live.com/y4m8HkNDSboHBDyHPy1KQpch_JVvL14eUGurk6SB2X27ItVMREE_4OWD7JsMhmYHd-Bk_gy4vhsuD_WjMHhsKPDmtbybYCxXF2xShKhN-n1ibNX0dYTu0lGk1fTlI8quSEvVoXziagJUH0RT74jpV6nSDl76LeMZbWpl7JhvJIgZ69WZTOMJvaMo8lDdNQa5r_u?width=660&height=621&cropmode=none');
}

.cybervision-live3, .cybervision-org3 {
    background-position: bottom;
}

.cybervision-org3 {
    background-image: url('https://snz04pap002files.storage.live.com/y4m6LNYCDTn0tt1vHSr9lCrF8oB_WlovaAWyg8T3lY-R8MN0SKNRE8Z4CaKw306ZzMkdydvO39cWoprCuMY25uVXkuB4l7qAO9bQZPhSvB3AoB9XbCXlvAXDViB3ggQzVBVWhqnMojE2XY3owkB_h9hAzcIEM2GwhzjEkK9DDyvLxjKU2U9XwX9Mw0Ht7F7u_zh?width=393&height=660&cropmode=none');
}

.cybervision-live3 {
    background-image: url('https://snz04pap002files.storage.live.com/y4m8HkNDSboHBDyHPy1KQpch_JVvL14eUGurk6SB2X27ItVMREE_4OWD7JsMhmYHd-Bk_gy4vhsuD_WjMHhsKPDmtbybYCxXF2xShKhN-n1ibNX0dYTu0lGk1fTlI8quSEvVoXziagJUH0RT74jpV6nSDl76LeMZbWpl7JhvJIgZ69WZTOMJvaMo8lDdNQa5r_u?width=660&height=621&cropmode=none');
}

/* #endregion */


/* #region Retrain Back Pain */
.retrainbackpain-live1, .retrainbackpain-org1 {
    background-position: top;
}

.retrainbackpain-org1 {
    background-image: url('https://snz04pap002files.storage.live.com/y4murRa-Mm4RNU8gSfxB4u9mhCO8vPfONBomWvocmhehdawJyIQrJ1q6D353XIjHC7ynm0d1L7CDT5qvQU8G5jLImftKQBDejSRPT7NwwbQSqgyCKzpuadA8kQIS0hu4LwYeNbsI4MqOLDyecWUrhL8XMQl4czo9y4Ppbz88VUUDQNcyncBOxglj9FO2xdnK55h?width=660&height=411&cropmode=none');
}

.retrainbackpain-live1 {
    background-image: url('https://snz04pap002files.storage.live.com/y4mCHOOFQrjcpSJrEc8-lZ95DWmLwLDzbYs4ty6BX3bxSD_5eVpmFUdg2Z6SfSPD8VPNi4_Psl9rFBE5v9V8FB3KH_QnVRaXtk71ZWMu46_ON078LaalA_t929zfBtT1VM_3u0vwXY8dIK0UUwCludTomnoZblUTvii2gJJTm94LYRkOEhcK3Gu4Yl9EQQCUO6H?width=660&height=411&cropmode=none');
}

.retrainbackpain-live2, .retrainbackpain-org2 {
    background-position: center;
}

.retrainbackpain-org2 {
    background-image: url('https://snz04pap002files.storage.live.com/y4murRa-Mm4RNU8gSfxB4u9mhCO8vPfONBomWvocmhehdawJyIQrJ1q6D353XIjHC7ynm0d1L7CDT5qvQU8G5jLImftKQBDejSRPT7NwwbQSqgyCKzpuadA8kQIS0hu4LwYeNbsI4MqOLDyecWUrhL8XMQl4czo9y4Ppbz88VUUDQNcyncBOxglj9FO2xdnK55h?width=660&height=411&cropmode=none');
}

.retrainbackpain-live2 {
    background-image: url('https://snz04pap002files.storage.live.com/y4mCHOOFQrjcpSJrEc8-lZ95DWmLwLDzbYs4ty6BX3bxSD_5eVpmFUdg2Z6SfSPD8VPNi4_Psl9rFBE5v9V8FB3KH_QnVRaXtk71ZWMu46_ON078LaalA_t929zfBtT1VM_3u0vwXY8dIK0UUwCludTomnoZblUTvii2gJJTm94LYRkOEhcK3Gu4Yl9EQQCUO6H?width=660&height=411&cropmode=none');
}


.retrainbackpain-live3, .retrainbackpain-org3 {
    background-position: bottom;
}

.retrainbackpain-org3 {
    background-image: url('https://snz04pap002files.storage.live.com/y4murRa-Mm4RNU8gSfxB4u9mhCO8vPfONBomWvocmhehdawJyIQrJ1q6D353XIjHC7ynm0d1L7CDT5qvQU8G5jLImftKQBDejSRPT7NwwbQSqgyCKzpuadA8kQIS0hu4LwYeNbsI4MqOLDyecWUrhL8XMQl4czo9y4Ppbz88VUUDQNcyncBOxglj9FO2xdnK55h?width=660&height=411&cropmode=none');
}


.retrainbackpain-live3 {
    background-image: url('https://snz04pap002files.storage.live.com/y4mCHOOFQrjcpSJrEc8-lZ95DWmLwLDzbYs4ty6BX3bxSD_5eVpmFUdg2Z6SfSPD8VPNi4_Psl9rFBE5v9V8FB3KH_QnVRaXtk71ZWMu46_ON078LaalA_t929zfBtT1VM_3u0vwXY8dIK0UUwCludTomnoZblUTvii2gJJTm94LYRkOEhcK3Gu4Yl9EQQCUO6H?width=660&height=411&cropmode=none');
}

/* #endregion */


/* #region Perry Associates */
.perryassociates-live1, .perryassociates-org1 {
    background-position: top;
}

.perryassociates-org1 {
    background-image: url('https://snz04pap002files.storage.live.com/y4mHhLK5yvkOeP2tZN-pDHKDdkcf0QV0Xui1z1BPNviHJEUONrodwbt84zEAgecwVWZfrxoyGbQKGy_My-uqle7rOy1t_IaN8T39sMoioIXCZ5xIb7EkwGcjl2NEyhkpv1RlCAIfHMck2_Z_A-eyh3Pq9Z4JPUfdARWuJ_ViCc_ec4oW7HHi1Hvbp24s51boax_?width=379&height=660&cropmode=none');
}

.perryassociates-live1 {
    background-image: url('https://snz04pap002files.storage.live.com/y4mc6Dd3bd1zZpx1lHGWC-SwEWaZMmp2Z-0SpuR88eai-ZSLAjRN-t8iMZZDqa3STjcG5x-_DNKMTnH4PK64xqCVpXOOH7LZbwmvU6agw84z8Js5NAplyYemLQ1L6-kGtNS5NT8zbtnIHrYFOgMRkcKm97_1jnHTk4_eO658moN6stpwA97B9olw67iDcz4sapL?width=350&height=660&cropmode=none');
}

.perryassociates-live2, .perryassociates-org2 {
    background-position: center;
}

.perryassociates-org2 {
    background-image: url('https://snz04pap002files.storage.live.com/y4mHhLK5yvkOeP2tZN-pDHKDdkcf0QV0Xui1z1BPNviHJEUONrodwbt84zEAgecwVWZfrxoyGbQKGy_My-uqle7rOy1t_IaN8T39sMoioIXCZ5xIb7EkwGcjl2NEyhkpv1RlCAIfHMck2_Z_A-eyh3Pq9Z4JPUfdARWuJ_ViCc_ec4oW7HHi1Hvbp24s51boax_?width=379&height=660&cropmode=none');
}

.perryassociates-live2 {
    background-image: url('https://snz04pap002files.storage.live.com/y4mc6Dd3bd1zZpx1lHGWC-SwEWaZMmp2Z-0SpuR88eai-ZSLAjRN-t8iMZZDqa3STjcG5x-_DNKMTnH4PK64xqCVpXOOH7LZbwmvU6agw84z8Js5NAplyYemLQ1L6-kGtNS5NT8zbtnIHrYFOgMRkcKm97_1jnHTk4_eO658moN6stpwA97B9olw67iDcz4sapL?width=350&height=660&cropmode=none');
}

.perryassociates-live3, .perryassociates-org3 {
    background-position: bottom;
}

.perryassociates-org3 {
    background-image: url('https://snz04pap002files.storage.live.com/y4mHhLK5yvkOeP2tZN-pDHKDdkcf0QV0Xui1z1BPNviHJEUONrodwbt84zEAgecwVWZfrxoyGbQKGy_My-uqle7rOy1t_IaN8T39sMoioIXCZ5xIb7EkwGcjl2NEyhkpv1RlCAIfHMck2_Z_A-eyh3Pq9Z4JPUfdARWuJ_ViCc_ec4oW7HHi1Hvbp24s51boax_?width=379&height=660&cropmode=none');
}

.perryassociates-live3 {
    background-image: url('https://snz04pap002files.storage.live.com/y4mc6Dd3bd1zZpx1lHGWC-SwEWaZMmp2Z-0SpuR88eai-ZSLAjRN-t8iMZZDqa3STjcG5x-_DNKMTnH4PK64xqCVpXOOH7LZbwmvU6agw84z8Js5NAplyYemLQ1L6-kGtNS5NT8zbtnIHrYFOgMRkcKm97_1jnHTk4_eO658moN6stpwA97B9olw67iDcz4sapL?width=350&height=660&cropmode=none');
}
/* #endregion */


/* #endregion */


/*#region CLOSE */

/* #endregion */

/* #endregion */


/* #region SOCIAL ICONS */

.aew-social-link .fa-react {
	background-color: #00d8ff;
} 

.aew-social-link .fa-linkedin-in {
	background-color: #0077B5;
}

.aew-social-link .fa-twitter {
	background-color: #1da1f2;
}

.aew-social-link .fa-slideshare {
	background-color: #0077B5;
}

.aew-social-link .fa-free-code-camp {
	background-color: darkgreen;
}

.aew-social-link .fa-youtube {
	background-color: #CD201F;
}

.aew-social-link .fa-github {
	background-color:#24292e;
}

.aew-social-link .fa-behance-square {
	background-color: #0057FF;
}
/* #endregion */

/* #region FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $body-dark;
    color: $footer-text;
    padding: 8px;

    a {
        text-decoration: none;
        color: $body-light;

        &:hover {
            text-decoration: underline;
            font-weight: 600;
            color: $accent2;
        }
    }

    .logo-container {
        width: 15%;
        font-size: .7em;
        display: flex;

        a {
            color: $accent2;
        }
    
        .logo-img {
            width: 20%;
        }
    
    }

    .social-links-container {
        width: auto;
        text-align: center;
        
    }

    .footer-text {
        width: auto;
        text-align: right;
        margin-bottom: 0;
        font-size: .7em;
    }

    
}
/* #endregion */

@media print {
	.print, #aedubyah-print-footer.print {
		display: block;
	}

	.no-print, .aedubyah-global-footer.no-print {
		display: none;
	}
}