/*#region GlOBAL VARIABLES */
$heading-font: 'EB Garamond', serif;
$body-font: 'Roboto', sans-serif;
$accent1-font: 'Open Sans', sans-serif; 
$accent2-font: 'Roboto Slab', serif;

$bg-body: #e8e8e8;
$body-dark: #333333;
$body-medium: #585858;
$body-light: #e6e6e6;
$footer-text: #b8b8b8;
$primary-dark: #071b34;
$accent-light: #f2f2f2;
$accent1: #8b4513;
$accent2: #f5deb3;
$accent3: #9dd0e1;
$standard-text: #000000;
$standard-body: #ffffff;
$link-text: #D2691E;
$page-link: rgba(128, 21, 0, .7);
$link-bright: #c94c4c;
$warning-red: #ff6347;

/*GForm Colors*/
$gf-pale-green: #b1cbbb;
$gf-soft-blue: #deeaee;

/*Crumb Nav*/
$crumb-link: #0275d8;
$crumb-hover: #01447e;
$crumb-visited: #C48F65;
$crumb-active: #801500;

/*Social Icon Colors*/
$react-bg: #00d8ff;
/*#endregion*/



/*#region GLOBAL STYLES */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: $body-font;
    color: $body-dark;
    background-color: $bg-body;
    letter-spacing: 1px;
    line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
    line-height: 1.5em;
}

img {
    width: 50%;
}

.required-asterisk, .required-text {
    color: $warning-red;
    font-weight: 600;
}

.required-text {
    font-size: .65em;
}

.print {
    display: none;
}

.btn {
    padding: 8px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .035em;
}

.centered-content {
    margin-left: auto;
    margin-right: auto;
}

code {
    font-size: .9em;
    color: $warning-red;
}

a {
    color: $accent1;
    font-weight: 600;

    &:hover {
        text-decoration: none;
        opacity: .7;
        color: $accent1;
    }
}

.no-go {
    cursor: not-allowed;
}
/*#endregion*/


/* #region HEADER */
header {
    min-height: 250px;
    text-align: center;
    background-color: $primary-dark;
    color: $body-light;
    position: relative;

    .header-content {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateY(-25%);
        transform: translateX(-50%);
    }
}

.header-logo-container {
    position: absolute;
    display: flex;
    align-items: center;
    width: 15%;
    bottom: 0;
    right: 1em;
    font-size: .7em;

    a {
        color: $accent2;
    }

    .logo-img {
        width: 20%;
    }
}
/* #endregion */

/* #region MAIN */
.project-open, .issue-details, .project-close {
    padding: 28px 0 36px;
}

/* #region ABOUT*/


.project-img {
    width: 100%;
}


.spec-container {
    margin-left: 1em;
    margin-bottom: 1em;
}

.spec-detail {
    padding-left: .5em;

    p {
        margin-bottom: 0;
    }
}

.project-palette {
    width: 65%;
}
/* #endregion */

/* #region ISSUE DETAILS */
.issue-details {
    background-color: $standard-body;

    .card {
        background-color: transparent;
    }
}


.compare {
    img {
        box-shadow: -2px 2px 8px;
    }
}

.issue-content {
    padding-left: 1em;
    padding-right: 3em;
}

.issue-img {
    width: 100%;
}

.cybervision-imgs2 .issue-imgs, .allenspie-imgs2 .issue-imgs, 
.allenspie-imgs3 .issue-imgs, .perryassociates-imgs1 .issue-imgs,
.perryassociates-imgs3 .issue-imgs {
    display: flex;
    .compare {
        width: 50%;
        align-self: center;
    }
}

/* #region Cybervision */


.issue-imgs .compare:last-child .cybervision-issue3-img {
    width: 25%;
    margin-left: 75%;
}

/* #endregion */


/* #region Allen's Pie */
.allenspie-live1, .allenspie-org1 {
    background-position: top;
}

.allenspie-org1 {
    background-image: url('https://snz04pap002files.storage.live.com/y4mfTVUD67dwZfXwzkZdkiFhpJJlX7vNFspgChvoMHtx_0duJtJi0_GcTI_GwsQ7WQPzaVjIZLS0jGsqy6PXe5yREkjHBGmz6DXgOrzZu9ibuQ0slK8fy99phhQOXdu4JTx2U7NRJaZCrHd60cphaZ-jQNSLaqyEjhqQjYOtvHKX3ILLXpdi6AdXzGbjTcc_SC-?width=660&height=403&cropmode=none');
}

.allenspie-live1 {
    background-image: url('https://snz04pap002files.storage.live.com/y4mjTh-14fI7-k2hIurVFr_Cw2eMwoeqfjZFmCJDtmsCLPUq6YICgSnIS2KSoPmHPVFzmtmTXD9IGvWO0pw7nU1wQRNshNhcMXx1rMuInkuoWLIhEwmcSqgnPj8JRbMJ2mBnnzK2WCLA6BKebXk3fqw8uUM0eP2uh6uR4LKBwOwsCbPhEStACjDE9e4ryEQzeDw?width=660&height=408&cropmode=none');
}

.allenspie-live2, .allenspie-org2 {
    background-position: center;
}

.allenspie-org2 {
    background-image: url('https://snz04pap002files.storage.live.com/y4mfTVUD67dwZfXwzkZdkiFhpJJlX7vNFspgChvoMHtx_0duJtJi0_GcTI_GwsQ7WQPzaVjIZLS0jGsqy6PXe5yREkjHBGmz6DXgOrzZu9ibuQ0slK8fy99phhQOXdu4JTx2U7NRJaZCrHd60cphaZ-jQNSLaqyEjhqQjYOtvHKX3ILLXpdi6AdXzGbjTcc_SC-?width=660&height=403&cropmode=none');
}

.allenspie-live2 {
    background-image: url('https://snz04pap002files.storage.live.com/y4mjTh-14fI7-k2hIurVFr_Cw2eMwoeqfjZFmCJDtmsCLPUq6YICgSnIS2KSoPmHPVFzmtmTXD9IGvWO0pw7nU1wQRNshNhcMXx1rMuInkuoWLIhEwmcSqgnPj8JRbMJ2mBnnzK2WCLA6BKebXk3fqw8uUM0eP2uh6uR4LKBwOwsCbPhEStACjDE9e4ryEQzeDw?width=660&height=408&cropmode=none');
}


.allenspie-live3, .allenspie-org3 {
    background-position: bottom;
}

.allenspie-org3 {
    background-image: url('https://snz04pap002files.storage.live.com/y4mfTVUD67dwZfXwzkZdkiFhpJJlX7vNFspgChvoMHtx_0duJtJi0_GcTI_GwsQ7WQPzaVjIZLS0jGsqy6PXe5yREkjHBGmz6DXgOrzZu9ibuQ0slK8fy99phhQOXdu4JTx2U7NRJaZCrHd60cphaZ-jQNSLaqyEjhqQjYOtvHKX3ILLXpdi6AdXzGbjTcc_SC-?width=660&height=403&cropmode=none');
}


.allenspie-live3 {
    background-image: url('https://snz04pap002files.storage.live.com/y4mjTh-14fI7-k2hIurVFr_Cw2eMwoeqfjZFmCJDtmsCLPUq6YICgSnIS2KSoPmHPVFzmtmTXD9IGvWO0pw7nU1wQRNshNhcMXx1rMuInkuoWLIhEwmcSqgnPj8JRbMJ2mBnnzK2WCLA6BKebXk3fqw8uUM0eP2uh6uR4LKBwOwsCbPhEStACjDE9e4ryEQzeDw?width=660&height=408&cropmode=none');
}

/* #endregion */


/* #region Perry Associates */
.perryassociates-live1, .perryassociates-org1 {
    background-position: top;
}

.perryassociates-org1 {
    background-image: url('https://snz04pap002files.storage.live.com/y4mHhLK5yvkOeP2tZN-pDHKDdkcf0QV0Xui1z1BPNviHJEUONrodwbt84zEAgecwVWZfrxoyGbQKGy_My-uqle7rOy1t_IaN8T39sMoioIXCZ5xIb7EkwGcjl2NEyhkpv1RlCAIfHMck2_Z_A-eyh3Pq9Z4JPUfdARWuJ_ViCc_ec4oW7HHi1Hvbp24s51boax_?width=379&height=660&cropmode=none');
}

.perryassociates-live1 {
    background-image: url('https://snz04pap002files.storage.live.com/y4mc6Dd3bd1zZpx1lHGWC-SwEWaZMmp2Z-0SpuR88eai-ZSLAjRN-t8iMZZDqa3STjcG5x-_DNKMTnH4PK64xqCVpXOOH7LZbwmvU6agw84z8Js5NAplyYemLQ1L6-kGtNS5NT8zbtnIHrYFOgMRkcKm97_1jnHTk4_eO658moN6stpwA97B9olw67iDcz4sapL?width=350&height=660&cropmode=none');
}

.perryassociates-live2, .perryassociates-org2 {
    background-position: center;
}

.perryassociates-org2 {
    background-image: url('https://snz04pap002files.storage.live.com/y4mHhLK5yvkOeP2tZN-pDHKDdkcf0QV0Xui1z1BPNviHJEUONrodwbt84zEAgecwVWZfrxoyGbQKGy_My-uqle7rOy1t_IaN8T39sMoioIXCZ5xIb7EkwGcjl2NEyhkpv1RlCAIfHMck2_Z_A-eyh3Pq9Z4JPUfdARWuJ_ViCc_ec4oW7HHi1Hvbp24s51boax_?width=379&height=660&cropmode=none');
}

.perryassociates-live2 {
    background-image: url('https://snz04pap002files.storage.live.com/y4mc6Dd3bd1zZpx1lHGWC-SwEWaZMmp2Z-0SpuR88eai-ZSLAjRN-t8iMZZDqa3STjcG5x-_DNKMTnH4PK64xqCVpXOOH7LZbwmvU6agw84z8Js5NAplyYemLQ1L6-kGtNS5NT8zbtnIHrYFOgMRkcKm97_1jnHTk4_eO658moN6stpwA97B9olw67iDcz4sapL?width=350&height=660&cropmode=none');
}

.perryassociates-live3, .perryassociates-org3 {
    background-position: bottom;
}

.perryassociates-org3 {
    background-image: url('https://snz04pap002files.storage.live.com/y4mHhLK5yvkOeP2tZN-pDHKDdkcf0QV0Xui1z1BPNviHJEUONrodwbt84zEAgecwVWZfrxoyGbQKGy_My-uqle7rOy1t_IaN8T39sMoioIXCZ5xIb7EkwGcjl2NEyhkpv1RlCAIfHMck2_Z_A-eyh3Pq9Z4JPUfdARWuJ_ViCc_ec4oW7HHi1Hvbp24s51boax_?width=379&height=660&cropmode=none');
}

.perryassociates-live3 {
    background-image: url('https://snz04pap002files.storage.live.com/y4mc6Dd3bd1zZpx1lHGWC-SwEWaZMmp2Z-0SpuR88eai-ZSLAjRN-t8iMZZDqa3STjcG5x-_DNKMTnH4PK64xqCVpXOOH7LZbwmvU6agw84z8Js5NAplyYemLQ1L6-kGtNS5NT8zbtnIHrYFOgMRkcKm97_1jnHTk4_eO658moN6stpwA97B9olw67iDcz4sapL?width=350&height=660&cropmode=none');
}
/* #endregion */


/* #endregion */


/*#region CLOSE */
.more-info {
    p {
        font-size: 12px;
        padding: 0 1.5em;
    }
}
/* #endregion */

/* #endregion */


/* #region SOCIAL ICONS */

.aew-social-link .fa-react {
	background-color: #00d8ff;
} 

.aew-social-link .fa-linkedin-in {
	background-color: #0077B5;
}

.aew-social-link .fa-twitter {
	background-color: #1da1f2;
}

.aew-social-link .fa-slideshare {
	background-color: #0077B5;
}

.aew-social-link .fa-free-code-camp {
	background-color: darkgreen;
}

.aew-social-link .fa-youtube {
	background-color: #CD201F;
}

.aew-social-link .fa-github {
	background-color:#24292e;
}

.aew-social-link .fa-behance-square {
	background-color: #0057FF;
}
/* #endregion */

/* #region FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $body-dark;
    color: $footer-text;
    padding: 8px;

    a {
        text-decoration: none;
        color: $body-light;

        &:hover {
            text-decoration: underline;
            font-weight: 600;
            color: $accent2;
        }
    }

    .logo-container {
        width: 15%;
        font-size: .7em;
        display: flex;

        a {
            color: $accent2;
        }
    
        .logo-img {
            width: 20%;
        }
    
    }

    .social-links-container {
        width: auto;
        text-align: center;
        
    }

    .footer-text {
        width: auto;
        text-align: right;
        margin-bottom: 0;
        font-size: .7em;
    }

    
}
/* #endregion */

@media print {
	.print, #aedubyah-print-footer.print {
		display: block;
	}

	.no-print, .aedubyah-global-footer.no-print {
		display: none;
	}
}